body{
}
.nav-list{
    list-style-type: none;
    
}
li{
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}
li a{
    text-decoration: none!important;

}
.main{
    min-height: 500px;
}
#searchInput{
    margin-top:30px;

}
.colRight{
    border-left: 1px solid black;
}